
.alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: -10%;
  background: rgb(228, 228, 228, .9);
  color: rgb(73, 73, 73);
  font-family: 'ZCOOL KuaiLe', cursive;
  font-weight: bolder;
  text-align: center;
  z-index: 1;
  }

.mAlert {
  width: 60%;
}